header {
    background-color: #244751;
    color: #E8FDFF;
  }

header p {


    color:#0000ff;
}




p {

    color:#ff0000;
    font-size: 24px;
    padding-left: 40px;
}

article ul p {


    color: #00bb48;
}

/* class selector */
/* class selector */

.brand-txt-light{

    color: #860f0f;
}


body {
    background-color: whitesmoke;
    font-family: "Open Sans", sans-serif;
  }

  main {
    background-color: white;
    padding: 16px;
  }


  .finstagram-post {
    margin-bottom: 47px;
  }



  .finstagram-post .user-info img {
    border-radius: 50%;
  }

  .user-info img {
    border-radius: 20%;
  }

 
/* An anchor tag with photo, class, i.e.  same tag, vs. a. photo which is a photo class under anchor tag*/
  a.photo{
    transition: padding 10s;
  }
  /* a.photo:hover{
    padding: 10px;
  }*/

  a.photo:hover{ padding: 10px; transition: padding 1s; }



  /* 
  Media Queries go on the bottom of your stylesheet

  Desktop-first: max-widths in DESC
  Mobile-first: min-widths in ASC
*/


@media screen and (max-width: 768px) {
  main {
    width: 70%;
  } 
}

@media screen and (max-width: 480px) {
  main {
    width: 95%;
  } 

  .user-info h2 {
    font-size: 1.1em;
  }

  .user-info h3,
  .actions,
  p {
    font-size: 0.9em;
  }
}

