<h2>New Post</h2>


<ul class="errors">
  <% @finstagram_post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>



<form action="/finstagram_posts" method="POST">
  <div class="form-group">
    <label for="photo_url">Photo URL</label>
    <input type="text" id="photo_url" name="photo_url">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Post</button>
  </div>
</form>

<!--
<script src="/scripts/hello.js"></script> -->

<script>
//console.log(document);
/*function hello(){

console.log ("Hello World");
}*/
document.addEventListener("DOMContentLoaded", function(){
console.log(document);
  console.log("DOM Loaded!");
  var photoUrlElm = document.getElementById("photo_url");
  var previewElm = document.getElementById("preview");
  //console.log(photoUrlElm);
  photoUrlElm.addEventListener("blur", function(event){

    //console.log(event.target.value);  //javascript notation uses event.target instead of event ["target"] in ruby
    var url = event.target.value;
    if(url){
      //set the image src value
      previewElm.setAttribute("src", url);
      //show the img elm
      previewElm.style.display = "block";
    } else {
      // hide the img elm
      previewElm.style.display = "none";
    }
  });
});
</script>
